body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-image: url('images/Background\ image.jpeg');
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    }

.container {
    max-width: 800px;
    margin: auto;
    
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    float: right;
}

h1 {
    color: #414040;
    margin-bottom: 20px;
}
.learn-more-button {
    background-color: #800080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.learn-more-button:hover {
    background-color: #6a006a; 
}
.main-content {
    max-width: 800px;
    
    margin: auto;
    padding: 20px;
    text-align: center;
    background-image: url('');
    background-size: cover;
    background-position: center;
}.heading {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #fff;
}

.column {
    flex: 1;
    margin: 0 10px;
    color: #fff;
}

.search {
    margin-top: 20px;
}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}
h0 {
    color: #fff;
    text-size-adjust: 90px;
}
p1 {
    color: #fff;
}
#body2 {
    margin: auto;
    max-width: 800px;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-image: url('images/PfRchMI.jpg');
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    }
    p.alpha {
        background: white;
            }
            p.table {
                background: white;
            }
            .planet-container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .planet {
                border: 2px solid white;
                border-radius: 8px;
                margin: 10px;
                padding: 10px;
            }
            
            .row {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .planet img {
                width: 200px;
                height: auto;
            }
            